CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
REDIRECT_URI=http://localhost:5000/auth/callback
SESSION_SECRET=
DB_PATH=/data/monitoring.db
DATABASE_URL=postgresql://khadmin:<PASSWORD>@khmonitoringpg232.postgres.database.azure.com:5432/monitoringdb?sslmode=require
